

    .gallery { position: relative;
        margin: 0 auto;
    text-align: center;}

    .galleryimg {display: inline-block;}
    
    .galleryimg img{
        width: 330px; 
        height: 300px;
        margin: 25px;
    border-radius: 20px;}
